.navbar-puc {
    background-color: transparent;
    border: 0;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    min-height: 0;
    margin-bottom: 50px;

    @media (max-width: $grid-float-breakpoint) {
        margin-bottom: 0;
    }

    .navbar-collapse {

        @media (min-width: $grid-float-breakpoint) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .nav > li > a {
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 25px;

        @media (min-width: $grid-float-breakpoint) {
            padding-left: 0;
        }

        &.sale,
        &.sale:hover {
            color: #C50000;
        }

        &:hover {
            background-color: transparent;
            color: #FF5C0B;
        }
    }

    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        background-color: transparent;
        color: #FF5C0B;
    }
}

.breadcrumb {
    position: absolute;
    top: 40px;
    padding: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
    background-color: transparent;
    @include transition-property(top);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in);

    @media (max-width: $grid-float-breakpoint) {
        top: 20px;
    }

//    @media (max-width: $screen-xs-min) {
//        top: 30px;
//    }

    a,
    & > .active {
        color: #666;
    }
}

.nav-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;



    ul {
        list-style-type: none;
        margin: 0 0 5px 0;
        padding: 0;
    }
}