.nav-main {
    border-bottom: 1px solid #ccc;
    margin-bottom: 3em;

    @media (max-width: $grid-float-breakpoint) {
        margin-bottom: 1em;
    }
}


.navbar-puc {
    background-color: transparent;
    border: 0;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    min-height: 0;
    margin-bottom: 0px;

    @media (max-width: $grid-float-breakpoint) {
        margin-bottom: 0;
    }

    .navbar-collapse {

        @media (min-width: $grid-float-breakpoint) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .nav > li > a {
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 25px;

        @media (min-width: $grid-float-breakpoint) {
            padding-left: 0;
        }

        &.sale,
        &.sale:hover {
            color: #C50000;
        }

        &:hover {
            background-color: transparent;
            color: #FF5C0B;
        }
    }

    .navbar-nav {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        background-color: transparent;
        color: #FF5C0B;
    }
}

.breadcrumb {
    @include transition-property(top);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in);
    position: absolute;
    top: 5em;
    padding: 0;
    text-transform: uppercase;
    background-color: transparent;

    @media (max-width: $grid-float-breakpoint) {
        top: 1em;
        z-index: 120;
    }

    a,
    & > .active {
        color: #666;
    }

    .glyphicon.glyphicon-home {
        margin-right: 0.5em;
    }
}

.nav-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;

    ul {
        list-style-type: none;
        margin: 0 0 5px 0;
        padding: 0;
    }
}